body {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  background-color: #357266;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

blockquote {
  text-align: justify;
  font-family: Poppins;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 1px;
  font-size: 15px;
  line-height: 28px;
  color: #F5F8DE;
  text-shadow: 3px 1px 7px #312509;
  margin:50px 80px;
  padding: 20px 40px 30px;
  box-shadow: 10px 10px 10px #312509;
  background-color: #357266;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  border-radius: 10px;
}

h1 {
  font-family: 'Libre Baskerville';
  padding: 20px 10px 10px;
  color: #F5F8DE;
  text-shadow: 2px 1px 2px #312509;
  text-decoration: underline overline;
  text-underline-offset: 10px;
  font-size: 41px;
  margin:50px 80px;
  padding: 20px 40px 30px;
  box-shadow: 10px 10px 10px #312509;
  background-color: #357266;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  border-radius: 10px;

}
h2 {
  font-family:'Libre Baskerville';
  padding-bottom: 1px;
  color: #F5F8DE;
  text-shadow: 3px 2px 10px #312509;
  font-size: 39px;
  text-align: center;

}
hr {
  width: 87%;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 3px 2px 15px #312509;
  background-color: #f5f8de;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}
mark {
  background-color:  #312509;
  color:#F5F8DE;
  border-radius: 3px;
}
img {
  width: 300px; 
  margin: 0px; 
  height:auto;
  border-radius: 10px;
  box-shadow: 3px 2px 15px #312509;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  width: 50px; 
  margin-top: 0px; 
  margin-bottom: 20px; 
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 3px 2px 15px #312509;
  display: flex;
  text-align: center;
}

.nav-buttons {
  text-align: center;
  margin: 20px 0px;
  font-family: 'Libre Baskerville';
  margin:50px 80px;
  padding: 20px 40px 30px;
  box-shadow: 10px 10px 10px #312509;
  background-color: #357266;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  border-radius: 10px;
}


.nav-buttons a {
  color: #312509;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 20px;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-buttons a:visited {
  color: honeydew;
  text-decoration: underline;
}
.nav-buttons a:focus {
  background-color: #357266;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  outline: none;
}

.nav-buttons a:hover {
  background-color: #357266;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  color: #312509;
}

.nav-buttons a:active {
  text-decoration: underline;
  color: #F5F8DE; 
}

a.active {
  border-bottom: 2px solid #ffffff; 
}